{{> navegacion}}


<section class=" container panel1 text-center">
    <div class="imagenicon">
        <img src="img/2.png" alt="">
    </div>

</section>
<section class="container1">
    <div>
        <h2><strong>proyectos</strong> </h2>
    </div>

    <div class="contcard mt-3">
        <div class="card-deck ">
            <div class="card">
                <img src="img/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"> <strong>Proyecto</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">Ingresa</a> </div>
            </div>
            <div class="card">
                <img src="img/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Proyecto</strong> </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">Ingresa</a> </div>
            </div>
            <div class="card">
                <img src="img/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Proyecto</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">Ingresa</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2><strong>Trabajos desempeñados</strong> </h2>
    </div>
    <div class="cards2 mt-3">
        <div class="card-deck ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"><strong> Some quick example text to build on the card title and make up the
                            bulk of the card's</strong> </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"><strong> Some quick example text to build on the card title and make up the
                            bulk of the
                            card's</strong></p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"><strong> Some quick example text to build on the card title and make up the
                            bulk of the
                            card's</strong></p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"><strong> Some quick example text to build on the card title and make up the
                            bulk of the
                            card's</strong></p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>



</section>


{{>footer}}